# Task 1. Exploraring a dataset

done by Malyshev Kyrylo

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./airquality.csv')

#### Question 1. What are the column names of the data frame?

In [2]:
list(df.columns)

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day']

### Question 2. What are the row names of the data frame?

In [3]:
df.index

RangeIndex(start=0, stop=153, step=1)

### Question 3. Extract the first 6 rows of the data frame and print them to the console

In [4]:
df.head(6)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5   28.0      NaN  14.9    66      5    6

### Question 4. How many observations (i.e. rows) are in this data frame?

In [5]:
len(df)

153

### Question 5. Extract the last 6 rows of the data frame and print them to the console

In [6]:
df.tail(6)

     Ozone  Solar.R  Wind  Temp  Month  Day
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

### Question 6. How many missing values are in the “Ozone” column of this data frame?

In [7]:
sum(df['Ozone'].isnull())

37

### Question 7. What is the mean of the “Ozone” column in this dataset? Exclude missing values (coded as NA) from this calculation

In [8]:
df['Ozone'].mean()

42.12931034482759

### Question 8. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90

In [9]:
df[(df['Ozone'] > 31) & (df['Temp'] > 90)]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

### Question 9. Use a for loop to create a vector of length 6 containing the mean of each column in the data frame (excluding all missing values).

In [10]:
[df[col_name].mean() for col_name in df.columns]

[42.12931034482759,
 185.93150684931507,
 9.957516339869281,
 77.88235294117646,
 6.993464052287582,
 15.803921568627452]

### Question 10. Use the apply function to calculate the standard deviation of each column in the data frame (excluding all missing values).

In [11]:
df.apply(lambda x: x.std())

Ozone      32.987885
Solar.R    90.058422
Wind        3.523001
Temp        9.465270
Month       1.416522
Day         8.864520
dtype: float64

### Question 11. Calculate the mean of “Ozone” for each Month in the data frame and create a vector containing the monthly means (exclude all missing values).

In [12]:
df.groupby('Month')['Ozone'].agg(lambda x: x.mean())

Month
5    23.615385
6    29.444444
7    59.115385
8    59.961538
9    31.448276
Name: Ozone, dtype: float64

In [13]:
list(df.groupby('Month')['Ozone'].agg(lambda x: x.mean()))

[23.615384615384617,
 29.444444444444443,
 59.11538461538461,
 59.96153846153846,
 31.448275862068964]

### Question 12. Draw a random sample of 5 rows from the data frame

In [14]:
df.sample(5)

     Ozone  Solar.R  Wind  Temp  Month  Day
132   24.0    259.0   9.7    73      9   10
47    37.0    284.0  20.7    72      6   17
138   46.0    237.0   6.9    78      9   16
82     NaN    258.0   9.7    81      7   22
75     7.0     48.0  14.3    80      7   15